{% extends 'layout.html' %}

{% block body %}

<h1>{{ title }}</h1>
<p>Quer saber mais sobre:</p>
<div class="choices">
    <a href="http://localhost:3000/engenharia" class="choice">
        <h2>Engenharia</h2>
        <img src="static/engenharia.png" alt="engenharia">
    </a>
    <a href="http://localhost:3000/egua" class="choice">
        <h2>Égua</h2>
        <img src="static/egua.png" alt="égua">
    </a>
    <a href="http://localhost:3000/elefante" class="choice">
        <h2>Elefante</h2>
        <img src="static/elefante.png" alt="elefante">
    </a>
</div>

{% endblock %}