{% extends 'layout.html' %}

{% block body %}

<h1>Égua</h1>

<img src="static/egua.png" alt="égua">

<p>
    A égua é a fêmea do cavalo (<i>Equus ferus caballus</i>), que por sua vez é uma das duas subespécies existentes
    de <i>Equus ferus</i>, um mamífero perissodáctilo pertencente à família taxonômica <i>Equidae</i>.
</p>
<p>
    O cavalo evoluiu há entre 45 milhões a 55 milhões de anos, desde uma pequena criatura com vários dedos, o
    <i>Eohippus</i>, até o animal grande e com um único dedo de hoje. Os seres humanos começaram a domesticar
    cavalos por volta de 4000 a.C. e acredita-se que sua domesticação tenha sido disseminada em 3000 a.C.
</p>
<p>
    Os cavalos da subespécie <i>caballus</i> são domesticados, embora algumas populações domesticadas vivam na
    natureza como cavalos selvagens. Essas populações selvagens não são verdadeiros cavalos "selvagens", pois
    esse termo é usado para descrever cavalos que nunca foram domesticados, como o cavalo de Przewalski
    (<i>Equus ferus przewalskii</i>), uma espécie em perigo de extinção, uma subespécie separada e o único
    verdadeiro cavalo selvagem restante na natureza.
</p>
<p>
    Existe um vocabulário extenso e especializado usado para descrever conceitos relacionados a equinos,
    cobrindo de tudo, desde anatomia a estágios da vida, tamanho, cores, marcações, raças, locomoção e comportamento.
</p>

{% endblock %}