{% extends 'layout.html' %}

{% block body %}

<h1>Elefante</h1>

<img src="static/elefante.png" alt="elefante">

<p>
    "Elefante" é um termo genérico pelo qual são conhecidos os animais da família <i>Elephantidae</i>, um grupo
    de mamíferos proboscídeos elefantídeos, de grande porte.
</p>
<p>
    Atualmente, existem três espécies, sendo duas africanas (<i>Loxodonta africana</i> e <i>Loxodonta cyclotis</i>)
    e uma asiática (<i>Elephas maximus</i>). Os mamutes (<i>Mammuthus spp.</i>), hoje extintos, também faziam parte
    desta família, com 15 espécies distintas até hoje identificadas.
</p>
<p>
    Até recentemente, acreditava-se que havia apenas duas espécies vivas de elefantes, o elefante-africano e o
    elefante-asiático, que é menor do que o primeiro. Entretanto, estudos recentes de DNA sugerem que há, na
    verdade, duas espécies de elefante-africano: <i>Loxodonta africana</i>, da savana, e <i>Loxodonta cyclotis</i>,
    que vive nas florestas. 
    
</p>
<p>
    Os elefantes são os maiores animais terrestres da atualidade, com a massa entre 4 a 6 toneladas e medindo em
    média quatro metros de altura, podendo levantar até 10.000 kg. As suas características mais distintivas são as
    presas de marfim e a tromba.
</p>

<iframe src="https://www.youtube.com/embed/05mhAq8u3n0" frameborder="0"></iframe>

{% endblock %}