{% extends 'layout.html' %}

{% block body %}

<h1>Engenharia</h1>

<img src="static/engenharia.png" alt="engenharia">

<p>
    Engenharia é a aplicação do conhecimento científico, econômico, social e prático, com o intuito de planear,
    desenhar, construir, manter e melhorar estruturas, máquinas, aparelhos, sistemas, materiais e processos.
    O profissional de engenharia aplica os conhecimentos matemáticos e técnicos para a criação, aperfeiçoamento e 
    implementação de utilidades que realizem uma função ou objetivo específico.
</p>
<p>
    Nos processos de criação, aperfeiçoamento e complementação, a engenharia conjuga os vários conhecimentos
    especializados no sentido de viabilizar as utilidades, tendo em conta a sociedade, a técnica, a economia
    e o meio ambiente.
</p>
<p>
    A engenharia é uma área bastante abrangente que engloba uma série de ramos mais especializados, cada qual com
    uma ênfase mais específica em determinados campos de aplicação e em determinados tipos de tecnologia.
</p>

{% endblock %}