
trabalhos_aulas/aula_4/criar_anotacoes.py
trabalhos_aulas/aula_4/livro_original.txt
trabalhos_aulas/aula_4/criar_anotacoes.py
.gitignore
.gitignore
trabalhos_aulas/aula_4/html_original/LIVRO-Doenças-do-Aparelho-Digestivo_ind.html
trabalhos_aulas/aula_4/criar_anotacoes.py
trabalhos_aulas/aula_4/livro_anotado.html
trabalhos_aulas/aula_4/html_original/LIVRO-Doenças-do-Aparelho-Digestivo-1_2.jpg
trabalhos_aulas/aula_4/html_original/LIVRO-Doenças-do-Aparelho-Digestivo-1_1.jpg
trabalhos_aulas/aula_4/html_original/LIVRO-Doenças-do-Aparelho-Digestivo-801_1.jpg
trabalhos_aulas/aula_4/html_original/LIVRO-Doenças-do-Aparelho-Digestivo.html
trabalhos_aulas/aula_4/html_original/LIVRO-Doenças-do-Aparelho-Digestivos.html
trabalhos_aulas/aula_4/criar_anotacoes.py
